.item {
  position: absolute;
  top: 12px;
  left: 16px;
}
.property-1default1 {
  background-color: var(--t2);
  height: 44px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
  align-self: stretch;
}
