.full-name-wrapper1,
.full-name-wrapper2,
.full-name-wrapper3,
.full-name-wrapper4,
.full-name-wrapper5 {
  position: absolute;
  top: 426px;
  left: 156px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  width: 483px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xl);
  color: var(--color-silver-100);
}
.full-name-wrapper2,
.full-name-wrapper3,
.full-name-wrapper4,
.full-name-wrapper5 {
  top: 1371px;
  border: 1px solid var(--o);
}
.full-name-wrapper3,
.full-name-wrapper4,
.full-name-wrapper5 {
  top: 1478px;
}
.full-name-wrapper4,
.full-name-wrapper5 {
  top: 1371px;
  left: 733px;
}
.full-name-wrapper5 {
  top: 1478px;
}
.step-1-apply {
  position: relative;
  line-height: 135.5%;
  font-weight: 600;
}
.step-1-apply-by-filling-the-f-wrapper {
  position: absolute;
  top: 118px;
  left: 44px;
  background-color: var(--t2);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  font-size: var(--font-size-27xl);
  color: var(--o);
  font-family: var(--font-poppins);
}
.span15 {
  color: var(--o);
}
.first-name-container,
.last-company,
.last-salary {
  position: absolute;
  top: calc(50% - 913.5px);
  left: calc(50% - 649px);
  display: flex;
  align-items: center;
  width: 128px;
  height: 27px;
}
.last-company,
.last-salary {
  top: calc(50% + 17.5px);
  width: 228px;
}
.last-salary {
  top: calc(50% + 120.5px);
}
.span16 {
  color: var(--primary-color);
}
.linkedin-account-container {
  position: absolute;
  top: calc(50% - 428.5px);
  left: calc(50% - 649px);
  display: flex;
  align-items: center;
  width: 211px;
  height: 27px;
}
.area-txt-container {
  width: 100%;
}
.area {
  position: absolute;
  top: calc(50% - 803.5px);
  left: calc(50% - 649px);
  display: flex;
  align-items: center;
  width: 128px;
  height: 27px;
}
.give-some-details {
  top: calc(50% + 255.5px);
  left: calc(50% - 649px);
}
.give-some-details,
.give-some-details1,
.phone,
.skills,
.upload-resume-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 483px;
  height: 27px;
}
.give-some-details1 {
  top: calc(50% + 581.5px);
  left: calc(50% - 645px);
  white-space: pre-wrap;
}
.phone,
.skills,
.upload-resume-container {
  top: calc(50% + 853.5px);
  left: calc(50% - 649px);
}
.phone,
.upload-resume-container {
  top: calc(50% - 313.5px);
  width: 211px;
}
.phone {
  top: calc(50% - 673.5px);
  width: 128px;
}
.span22 {
  color: var(--color-orangered-100);
}
.expected-salary-container,
.last-job-title,
.last-name-container {
  position: absolute;
  top: calc(50% - 913.5px);
  left: calc(50% - 59px);
  display: flex;
  align-items: center;
  width: 128px;
  height: 27px;
}
.expected-salary-container,
.last-job-title {
  top: calc(50% + 17.5px);
  left: calc(50% - 72px);
  width: 207px;
}
.expected-salary-container {
  top: calc(50% + 120.5px);
}
.city1 {
  top: calc(50% - 803.5px);
  left: calc(50% - 59px);
  align-items: center;
  width: 128px;
  height: 27px;
}
.city1,
.cnic,
.full-name-wrapper6 {
  position: absolute;
  display: flex;
}
.cnic {
  top: calc(50% - 673.5px);
  left: calc(50% - 59px);
  align-items: center;
  width: 128px;
  height: 27px;
}
.full-name-wrapper6 {
  top: 426px;
  left: 156px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--o);
  box-sizing: border-box;
  width: 483px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xl);
  color: var(--color-silver-100);
}
.paste-url {
  width: 205px;
  position: relative;
  display: flex;
  align-items: center;
  height: 27px;
  flex-shrink: 0;
}
.full-name-wrapper7,
.paste-url-wrapper {
  position: absolute;
  top: 925px;
  left: 156px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--o);
  box-sizing: border-box;
  width: 483px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xl);
  color: var(--color-silver-100);
}
.full-name-wrapper7 {
  top: 536px;
}
.your-answer {
  width: 617px;
  position: relative;
  display: inline-block;
  height: 167px;
  flex-shrink: 0;
}
.your-answer-wrapper {
  top: 1621px;
  left: 156px;
  width: 656px;
  color: var(--color-silver-100);
}
.full-name-wrapper8,
.no-file-chosen-wrapper,
.web-design-shell-scripting-p-wrapper,
.your-answer-container,
.your-answer-wrapper {
  position: absolute;
  border-radius: var(--br-3xs);
  border: 1px solid var(--o);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.your-answer-container {
  top: 1935px;
  left: 160px;
  width: 656px;
  color: var(--color-silver-100);
}
.full-name-wrapper8,
.no-file-chosen-wrapper,
.web-design-shell-scripting-p-wrapper {
  left: 156px;
}
.web-design-shell-scripting-p-wrapper {
  top: 2199px;
  background-color: var(--inactive);
  width: 656px;
  color: var(--text);
}
.full-name-wrapper8,
.no-file-chosen-wrapper {
  width: 483px;
}
.no-file-chosen-wrapper {
  top: 1044px;
  background-color: var(--inactive);
  color: var(--text);
}
.full-name-wrapper8 {
  top: 666px;
  color: var(--color-silver-100);
}
.full-name-wrapper9 {
  top: 426px;
  color: var(--color-silver-100);
}
.full-name-wrapper10,
.full-name-wrapper9,
.karachi-wrapper {
  position: absolute;
  left: 746px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--o);
  box-sizing: border-box;
  width: 483px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.karachi-wrapper {
  top: 536px;
  background-color: var(--inactive);
  color: var(--text);
}
.full-name-wrapper10 {
  top: 666px;
  color: var(--color-silver-100);
}
.step-1-child,
.step-1-inner,
.step-1-item {
  position: absolute;
  top: 757.5px;
  left: 109.5px;
  border-top: 1px solid var(--text);
  box-sizing: border-box;
  width: 1391px;
  height: 1px;
}
.step-1-inner,
.step-1-item {
  top: 2460.5px;
  left: 120.5px;
}
.step-1-inner {
  top: 1222.5px;
  left: 109.5px;
}
.personal-information {
  position: relative;
  font-weight: 600;
}
.experience-skills-wrapper,
.personal-information-wrapper,
.profile-wrapper24 {
  position: absolute;
  top: 315px;
  left: 110px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  font-size: var(--h1-size);
  color: var(--text);
}
.experience-skills-wrapper,
.profile-wrapper24 {
  top: 1263px;
}
.profile-wrapper24 {
  top: 808px;
  left: 109px;
}
.button-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--t2);
}
.add-profiles {
  position: absolute;
  height: 28.23%;
  width: 54.87%;
  top: 38.06%;
  left: 22.57%;
  line-height: 135.5%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  position: absolute;
  height: 2.36%;
  width: 14.04%;
  top: 34.97%;
  right: 23.66%;
  bottom: 62.67%;
  left: 62.3%;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--t2);
  font-family: var(--font-poppins);
}
.button-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--o);
}
.button4 {
  position: absolute;
  height: 2.36%;
  width: 14.04%;
  top: 39.47%;
  right: 23.66%;
  bottom: 58.17%;
  left: 62.3%;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--t2);
  font-family: var(--font-poppins);
}
.make-sure-your {
  position: absolute;
  top: 1143px;
  left: 156px;
  display: flex;
  align-items: center;
  width: 963px;
  height: 30px;
}
.ignore-if-this,
.make-sure-your {
  color: var(--text);
}
.ignore-if-this-container {
  position: absolute;
  top: 1828px;
  left: 157px;
  display: flex;
  align-items: center;
  width: 963px;
  height: 30px;
  color: var(--o);
}
.button5 {
  position: absolute;
  height: 2.36%;
  width: 14.04%;
  top: 88.15%;
  right: 23.42%;
  bottom: 9.49%;
  left: 62.55%;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--t2);
  font-family: var(--font-poppins);
}
.step-1 {
  width: 100%;
  position: relative;
  background-color: var(--t2);
  border: 1px solid var(--text);
  box-sizing: border-box;
  height: 2625px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--color-dimgray-200);
  font-family: var(--text-s-regular);
}
