.verify-email-to {
  margin: 0;
  font-weight: 500;
}
.senior-software-developer {
  margin: 0;
  font-size: var(--font-size-27xl);
  font-weight: 900;
  color: var(--o);
}
.verify-email-to-container {
  align-self: stretch;
  position: relative;
  line-height: 135.5%;
}
.search-1-icon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.apply-with-google {
  position: relative;
  line-height: 135.5%;
}
.search-1-parent {
  width: 196px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
}
.frame9,
.login-with-google {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.login-with-google {
  width: 681px;
  border-radius: var(--br-5xs);
  background-color: var(--t2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
  height: 78px;
  justify-content: flex-end;
  padding: var(--padding-2xl) 240px;
  box-sizing: border-box;
}
.frame9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 695px;
  overflow: hidden;
  justify-content: center;
}
.or-child {
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 293px;
  height: 1px;
}
.or-child,
.or-item,
.or1 {
  position: absolute;
}
.or-item {
  top: 8.5px;
  left: 387.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 289px;
  height: 1px;
}
.or1 {
  top: 0;
  left: 327px;
  line-height: 135.5%;
}
.or {
  width: 676px;
  position: relative;
  height: 22px;
}
.frame10 {
  position: absolute;
  top: 116px;
  left: 0;
  width: 687px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.vector-icon139 {
  width: 30px;
  position: relative;
  height: 24px;
}
.examplegmailcom1 {
  position: relative;
  font-size: var(--h3-size);
  line-height: 135.5%;
}
.email2,
.frame12 {
  display: flex;
  justify-content: flex-start;
}
.frame12 {
  width: 180px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.email2 {
  width: 671px;
  border-radius: var(--br-5xs);
  background-color: var(--inactive);
  height: 77px;
  flex-direction: row;
  align-items: center;
  padding: 15px var(--padding-4xl) 18px;
  box-sizing: border-box;
  gap: 29px;
}
.frame11 {
  position: absolute;
  top: 172px;
  left: 0;
  width: 692px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--text-s-regular-size);
}
.apply,
.frame8 {
  position: relative;
}
.frame8 {
  width: 695px;
  height: 249px;
  overflow: hidden;
  flex-shrink: 0;
}
.apply {
  line-height: 135.5%;
  font-weight: 600;
}
.button1,
.frame13,
.frame7 {
  display: flex;
  flex-direction: column;
}
.button1 {
  width: 671px;
  border-radius: var(--br-5xs);
  background-color: rgba(252, 76, 2, 0.98);
  height: 77px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 26px 310px;
  box-sizing: border-box;
}
.frame13,
.frame7 {
  overflow: hidden;
}
.frame13 {
  width: 692px;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  color: var(--t2);
}
.frame7 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  font-size: var(--h3-size);
}
.verify-email,
.verify-email-to-continue-appli-parent {
  background-color: var(--t2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.verify-email-to-continue-appli-parent {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-47xl) 93px var(--padding-47xl) 99px;
  gap: 171px;
}
.verify-email {
  width: 100%;
  position: relative;
  border: 1px solid var(--text);
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 36px 420px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: var(--font-poppins);
}
