.applications,
.ddmmyyyy,
.starts-from {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.applications {
  width: 264px;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  height: 34px;
}
.ddmmyyyy,
.starts-from {
  width: 128px;
  height: 27px;
}
.ddmmyyyy {
  width: 205px;
}
.ddmmyyyy-wrapper,
.starts-from-parent {
  display: flex;
  justify-content: flex-start;
}
.ddmmyyyy-wrapper {
  width: 483px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--t1);
  box-sizing: border-box;
  height: 60px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-4xl);
  font-size: var(--heading-s-size);
  color: var(--fadetext);
}
.starts-from-parent {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0;
}
.applications-parent,
.frame-parent35 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-46xl);
  font-size: var(--h3-size);
  color: var(--color-dimgray-200);
}
.applications-parent {
  position: absolute;
  top: 334px;
  left: 108px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-22xl);
  text-align: left;
  font-size: var(--h1-size);
  color: var(--text);
  font-family: var(--text-s-regular);
}
