.filter,
.vector-icon148 {
  width: 25px;
  position: relative;
  height: 16px;
}

.filter {
  line-height: 135.5%;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 23px;
  flex-shrink: 0;
  width: 125px; /* Combine with .filter class */
}

.all-candidates,
.vector-container {
  position: absolute;
  display: flex;
  align-items: center;
}

.vector-container {
  top: 216px;
  left: 50px;
  width: 108px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-mid);
}

.all-candidates {
  top: 17px;
  left: 42px;
  font-size: var(--font-size-17xl);
  line-height: 135.5%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--text);
  width: 478px;
  height: 65px;
}

.frame-parent37 {
  position: absolute;
  top: 56px;
  left: 244px;
  background-color: var(--t2);
  width: 1266px;
  height: 327px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--color-dimgray-200);
  font-family: var(--text-s-regular);
}
