.recruitment24 {
  width: 224px;
  position: relative;
  color: var(--fadetext);
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
}
.tab-child189 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 224px;
  height: 40px;
}
.briefcase-icon24 {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.jobs27 {
  position: absolute;
  top: 8px;
  left: 68px;
  display: inline-block;
  width: 120px;
}
.tab-child190 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 122px);
  width: 190px;
  height: 40px;
}
.tab170 {
  width: 244px;
  position: relative;
  height: 40px;
}
.tab-child191,
.vector-icon168 {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 40px;
}
.vector-icon168 {
  top: 8px;
  left: 13px;
  width: 30px;
  height: 20px;
}
.tab171 {
  width: 224px;
  position: relative;
  height: 40px;
  cursor: pointer;
}
.credit-card-icon24 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 30px;
  height: 25px;
  overflow: hidden;
}
.tab172 {
  width: 224px;
  position: relative;
  height: 40px;
}
.recruitment-parent20 {
  position: absolute;
  top: 400px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--t2);
  font-family: var(--text-s-regular);
}
