.group-child75 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--t2);
  width: 325px;
  height: 141px;
}
.group-child77 {
  position: absolute;
  top: 90px;
  left: -0.5px;
  box-shadow: 0 4px 4px rgba(86, 86, 86, 0.5);
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 326px;
  height: 1px;
}
.group-child78 {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 58px;
  height: 58px;
}
.applied-on-2nd20,
.ayesha-masroor {
  position: absolute;
  top: 20px;
  left: 94px;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  width: 192px;
  height: 30px;
}
.applied-on-2nd20 {
  top: 49px;
  font-size: var(--font-size-mini);
  width: 175px;
  height: 20px;
}
.star-outline80,
.star-outline81,
.star-outline82,
.star-outline83,
.vector-icon149 {
  position: absolute;
  top: 103px;
  left: 160px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.star-outline81,
.star-outline82,
.star-outline83,
.vector-icon149 {
  left: 62px;
}
.star-outline82,
.star-outline83,
.vector-icon149 {
  left: 93px;
}
.star-outline83,
.vector-icon149 {
  left: 127px;
}
.vector-icon149 {
  height: 3.55%;
  width: 6.15%;
  top: 21.28%;
  right: 5.85%;
  bottom: 75.18%;
  left: 88%;
  max-width: 100%;
  max-height: 100%;
}
.email-box20,
.vector-icon150,
.vector-icon151 {
  position: absolute;
  top: 99px;
  left: 232px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.vector-icon150,
.vector-icon151 {
  height: 14.18%;
  width: 7.69%;
  top: 76.6%;
  right: 7.38%;
  bottom: 9.22%;
  left: 84.92%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon151 {
  height: 13.33%;
  top: 77.3%;
  right: 20.92%;
  bottom: 9.36%;
  left: 71.38%;
}
.div11 {
  position: absolute;
  top: 113px;
  left: 25px;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  width: 104px;
  height: 17px;
}
.rectangle-parent19 {
  position: absolute;
  top: 43px;
  left: 82px;
  width: 325px;
  height: 141px;
  cursor: pointer;
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--text);
  font-family: var(--text-s-regular);
}
