.frame-child63 {
  position: absolute;
  top: 6px;
  left: 1168px;
  border-radius: 50%;
  background-color: var(--bg);
  width: 42px;
  height: 41px;
}
.bell-badge-outline-icon9 {
  position: absolute;
  top: 13px;
  left: 1176px;
  width: 26px;
  height: 25px;
  overflow: hidden;
}
.frame-child64,
.what-are-you9 {
  position: absolute;
  top: 6px;
  left: 1097.9px;
  width: 42px;
  height: 41px;
}
.what-are-you9 {
  top: 9px;
  left: 872px;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  width: 271px;
  height: 36px;
}
.vector-icon169 {
  position: absolute;
  height: 35.19%;
  width: 1.62%;
  top: 27.78%;
  right: 10.78%;
  bottom: 37.04%;
  left: 87.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.back4,
.chevron-left-icon8 {
  position: relative;
  flex-shrink: 0;
}
.chevron-left-icon8 {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.back4 {
  width: 100px;
  font-size: var(--font-size-mini);
  text-decoration: underline;
  line-height: 135.5%;
  font-family: var(--text-s-regular);
  color: var(--text);
  text-align: left;
  display: flex;
  align-items: center;
  height: 21px;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 17px;
  left: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.ellipse-parent6 {
  position: absolute;
  top: -1px;
  left: 244px;
  background-color: var(--t2);
  width: 1266px;
  height: 54px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-dimgray-200);
  font-family: var(--text-s-regular);
}
