.text {
  position: relative;
  line-height: 140%;
}
.ic-chevron-down-icon,
.ic-text-align-left-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.ic-chevron-down-icon {
  width: 16px;
  height: 16px;
}
.menu-bar-button-base {
  border-radius: var(--br-9xs);
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--label-md14px-regular-size);
  color: var(--oc-gray-9);
  font-family: var(--label-md14px-regular);
}
