.menu-bar-wrapper,
.overview {
  position: relative;
  flex-shrink: 0;
}
.overview {
  width: 128px;
  display: flex;
  align-items: center;
  height: 27px;
}
.menu-bar-wrapper {
  width: 715px;
  border-radius: var(--br-mini);
  background-color: var(--t2);
  border: 1px solid var(--t1);
  box-sizing: border-box;
  height: 261px;
  overflow: hidden;
}
.overview-parent {
  position: absolute;
  top: 626px;
  left: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--color-dimgray-200);
  font-family: var(--text-s-regular);
}
