.frame-child47 {
  position: absolute;
  top: 29px;
  left: 24px;
  border-radius: var(--br-base);
  background-color: var(--t2);
  border: 1px solid var(--t1);
  box-sizing: border-box;
  width: 225px;
  height: 52px;
}
.frame-child48 {
  left: 564px;
  cursor: pointer;
}
.frame-child48,
.frame-child49,
.frame-child50 {
  position: absolute;
  top: 29px;
  border-radius: var(--br-base);
  background-color: var(--t2);
  width: 225px;
  height: 52px;
}
.frame-child49 {
  left: 294px;
  cursor: pointer;
}
.frame-child50 {
  left: 834px;
}
.fresh-applicants-10,
.interview-12,
.offer-4,
.screening-24 {
  position: absolute;
  top: 40px;
  left: 36px;
  line-height: 135.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 29px;
}
.interview-12,
.offer-4,
.screening-24 {
  left: 309px;
  white-space: pre-wrap;
}
.interview-12,
.offer-4 {
  top: 41px;
  left: 572px;
}
.offer-4 {
  top: 40px;
  left: 849px;
  width: 210px;
}
.rectangle-parent18 {
  position: absolute;
  top: 331px;
  left: 329px;
  width: 1100px;
  height: 104px;
  overflow: hidden;
  text-align: center;
  font-size: var(--heading-s-size);
  font-family: var(--text-s-regular);
}
