.frame-child {
  position: absolute;
  top: 58px;
  left: 61px;
  width: 720px;
  height: 151px;
}
.forgot-password {
  position: absolute;
  top: 595px;
  left: 616px;
  line-height: 135.5%;
  font-weight: 500;
}
.email-child {
  position: absolute;
  top: 22px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--t2);
  width: 671px;
  height: 77px;
}
.vector-icon {
  position: absolute;
  height: 21.21%;
  width: 4.58%;
  top: 0;
  right: 91.62%;
  bottom: 78.79%;
  left: 3.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.email1,
.examplegmailcom {
  position: absolute;
  top: 37px;
  left: 82px;
  line-height: 135.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.examplegmailcom {
  top: 59px;
  font-size: var(--h3-size);
}
.email {
  position: absolute;
  top: 355px;
  left: 88px;
  width: 671px;
  height: 99px;
  font-size: var(--text-s-regular-size);
}
.password-input-child {
  position: absolute;
  top: 38.4px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--t2);
  width: 671px;
  height: 77px;
}
.group-icon {
  position: absolute;
  height: 20.45%;
  width: 4.11%;
  top: 0;
  right: 91.62%;
  bottom: 79.55%;
  left: 4.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.password {
  position: absolute;
  top: 53.4px;
  left: 82px;
  line-height: 135.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.b {
  top: 81.4px;
  font-size: var(--h3-size);
}
.bieye-fill-icon {
  position: absolute;
  top: 70.4px;
  left: 628px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.password-input {
  position: absolute;
  top: 455.6px;
  left: 88px;
  width: 671px;
  height: 115.4px;
  font-size: var(--text-s-regular-size);
}
.button-child {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-chocolate);
  width: 671px;
  height: 77px;
  cursor: pointer;
}
.button,
.button-child,
.login {
  position: absolute;
}
.login {
  top: 25px;
  left: 308px;
  line-height: 135.5%;
  font-weight: 600;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button {
  top: 641px;
  left: 88px;
  width: 671px;
  height: 77px;
  font-size: var(--heading-s-size);
}
.remember-me1 {
  position: absolute;
  top: 0;
  left: 33px;
  line-height: 135.5%;
  font-weight: 500;
}
.check {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.frame-item,
.remember-me {
  position: absolute;
  top: 595px;
  left: 93px;
  width: 154px;
  height: 22px;
}
.frame-item {
  top: 293px;
  left: 59px;
  border-top: 4px solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 724px;
  height: 4px;
}
.rectangle-parent {
  position: absolute;
  top: 106px;
  left: 312px;
  width: 907px;
  height: 829px;
  overflow: hidden;
}
.login-page-child,
.login-page-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 16px;
  height: 982px;
}
.login-page-item {
  left: 1496px;
}
.login-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--t2);
  font-family: var(--font-poppins);
}
