.frame-child12 {
  position: absolute;
  top: 6px;
  left: 1168px;
  border-radius: 50%;
  background-color: var(--bg);
  width: 42px;
  height: 41px;
}
.bell-badge-outline-icon2 {
  position: absolute;
  top: 13px;
  left: 1176px;
  width: 26px;
  height: 25px;
  overflow: hidden;
}
.frame-child13,
.what-are-you2 {
  position: absolute;
  top: 6px;
  left: 1097.9px;
  width: 42px;
  height: 41px;
}
.what-are-you2 {
  top: 9px;
  left: 872px;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  width: 271px;
  height: 36px;
}
.vector-icon60 {
  position: absolute;
  height: 35.19%;
  width: 1.62%;
  top: 27.78%;
  right: 10.78%;
  bottom: 37.04%;
  left: 87.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chevron-left-icon2 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.back-to-jobs {
  width: 100px;
  position: relative;
  text-decoration: underline;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  height: 21px;
  flex-shrink: 0;
}
.chevron-left-container {
  position: absolute;
  top: 17px;
  left: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  cursor: pointer;
  font-size: var(--font-size-mini);
  color: var(--text);
}
.ellipse-container {
  position: absolute;
  top: 1px;
  left: 244px;
  background-color: var(--t2);
  width: 1266px;
  height: 54px;
  overflow: hidden;
  font-size: var(--font-size-mid);
  color: var(--color-dimgray-200);
}
.create-job1,
.your-job-has {
  position: absolute;
  line-height: 135.5%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 478px;
}
.create-job1 {
  top: 76px;
  left: 319px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  height: 65px;
}
.your-job-has {
  top: 318px;
  left: 638px;
  font-size: var(--font-size-7xl);
  text-align: center;
  justify-content: center;
  height: 142px;
}
.senior-software-engineer1 {
  width: 54px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image-3-icon1 {
  width: 20px;
  position: relative;
  height: 20px;
  object-fit: cover;
}
.profile9,
.senior-software-engineer-group {
  position: absolute;
  display: flex;
  align-items: center;
}
.senior-software-engineer-group {
  top: 428px;
  left: 834px;
  width: 86px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--neutral-100);
}
.profile9 {
  top: 2px;
  left: 18px;
  justify-content: center;
  width: 164px;
  height: 48px;
}
.profile-wrapper7 {
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: var(--br-6xl);
  background-color: var(--t2);
  width: 204px;
  height: 50px;
  overflow: hidden;
}
.frame-wrapper9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 244px;
  height: 106px;
  overflow: hidden;
  text-align: center;
  color: var(--text);
}
.general9 {
  width: 224px;
  position: relative;
  color: var(--fadetext);
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
}
.tab-child69,
.vector-icon61 {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 40px;
}
.vector-icon61 {
  top: 8px;
  left: 13.2px;
  width: 25.5px;
  height: 25px;
}
.dashboard9 {
  position: absolute;
  top: 8px;
  left: 68px;
  display: inline-block;
  width: 120px;
}
.tab63 {
  width: 224px;
  position: relative;
  height: 40px;
}
.calendar-icon9,
.vector-icon62 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 25px;
  height: 25px;
}
.calendar-icon9 {
  width: 30px;
  overflow: hidden;
}
.general-parent7 {
  position: absolute;
  top: 106px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
}
.company9,
.tab66 {
  width: 224px;
  position: relative;
}
.company9 {
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
}
.tab66 {
  height: 40px;
  color: var(--t2);
}
.company-parent7 {
  position: absolute;
  top: 694px;
  left: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  color: var(--fadetext);
}
.briefcase-icon9,
.tab-child73 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 224px;
  height: 40px;
}
.briefcase-icon9 {
  top: 8px;
  left: 16px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.tab-child74 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 122px);
  width: 190px;
  height: 40px;
}
.tab67 {
  width: 244px;
  position: relative;
  height: 40px;
}
.vector-icon63 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 30px;
  height: 20px;
}
.recruitment-parent7 {
  position: absolute;
  top: 400px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
}
.visit-our-help9 {
  position: absolute;
  top: 924px;
  left: 14px;
  font-size: var(--font-size-mid);
  line-height: 135.5%;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 40px;
}
.settings-icon9 {
  position: absolute;
  top: 873px;
  left: 103px;
  width: 39px;
  height: 41px;
  overflow: hidden;
}
.frame-child14 {
  position: absolute;
  top: 477.5px;
  left: 16.5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 7px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 7px;
  height: 47px;
}
.profile10 {
  position: absolute;
  top: 2px;
  left: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 48px;
}
.profile-wrapper8 {
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: var(--br-6xl);
  width: 204px;
  height: 50px;
  overflow: hidden;
}
.frame-wrapper10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 244px;
  height: 106px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-chocolate);
}
.tab70 {
  width: 224px;
  position: relative;
  height: 40px;
  cursor: pointer;
}
.frame-parent10,
.frame-parent9 {
  position: absolute;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
}
.frame-parent10 {
  top: -1px;
  width: 246px;
  height: 983px;
  overflow-y: auto;
}
.frame-parent9 {
  top: 0;
  width: 244px;
  height: 982px;
  overflow: hidden;
  color: var(--t2);
}
.create-jobs-3 {
  width: 100%;
  position: relative;
  background-color: var(--t2);
  border: 1px solid var(--text);
  box-sizing: border-box;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--text);
  font-family: var(--text-s-regular);
}
