.candidate-profile {
  position: relative;
  font-size: var(--heading-s-size);
  line-height: 135.5%;
  font-family: var(--text-s-regular);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.candidate-profile-wrapper {
  cursor: pointer;
  border: 1px solid var(--t1);
  background-color: var(--t2);
  border-radius: var(--br-mini);
  height: 60px;
  align-items: center;
  justify-content: center;
}
.candidate-profile-wrapper,
.documents-wrapper,
.frame-parent24 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.documents-wrapper {
  cursor: pointer;
  border: 0;
  background-color: var(--t2);
  border-radius: var(--br-mini);
  height: 60px;
  align-items: center;
  justify-content: center;
}
.frame-parent24 {
  position: absolute;
  top: 53px;
  left: 602px;
  width: 896px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
}
.candidate-information {
  position: relative;
  font-weight: 600;
}
.candidate-information-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.full-name,
.leonard-campbell {
  width: 264px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  display: flex;
  align-items: center;
  height: 34px;
  flex-shrink: 0;
}
.leonard-campbell {
  font-weight: 600;
}
.age-group,
.age-parent,
.applied-on-parent,
.full-name-parent,
.gender-parent,
.rank-parent,
.status-parent {
  position: absolute;
  top: 91px;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.age-group,
.age-parent,
.applied-on-parent,
.gender-parent,
.rank-parent,
.status-parent {
  top: 144px;
}
.age-group,
.age-parent,
.applied-on-parent,
.gender-parent,
.rank-parent {
  top: 197px;
}
.age-group,
.age-parent,
.applied-on-parent,
.gender-parent {
  top: 250px;
}
.age-group,
.age-parent,
.gender-parent {
  top: 303px;
}
.age-group,
.age-parent {
  top: 356px;
}
.age-group {
  top: 409px;
}
.frame-parent25 {
  position: absolute;
  top: 133px;
  left: 612px;
  background-color: var(--t2);
  width: 898px;
  height: 849px;
  overflow: hidden;
  font-size: var(--h1-size);
}
.candidate-information-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--h1-size);
}
.age-container,
.applied-on-group,
.full-name-group,
.gender-group,
.rank-group,
.status-group {
  position: absolute;
  top: 84px;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.age-container,
.applied-on-group,
.gender-group,
.rank-group,
.status-group {
  top: 130px;
}
.age-container,
.applied-on-group,
.gender-group,
.rank-group {
  top: 176px;
}
.age-container,
.applied-on-group,
.gender-group {
  top: 222px;
}
.age-container,
.gender-group {
  top: 268px;
}
.age-container {
  top: 314px;
}
.computer-science- {
  width: 421px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 34px;
  flex-shrink: 0;
}
.education-institute-parent,
.education-parent {
  position: absolute;
  top: 360px;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.education-institute-parent {
  top: 406px;
}
.frame-icon {
  width: 49px;
  position: relative;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.junior-ui-designer {
  margin: 0;
}
.airbnb-inc- {
  margin: 0;
  font-size: var(--h3-size);
  color: var(--fadetext);
}
.junior-ui-designer-container1 {
  width: 100%;
}
.junior-ui-designer-container {
  width: 313px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 56px;
  flex-shrink: 0;
}
.work-experience-parent {
  position: absolute;
  top: 452px;
  left: 50px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.years,
.years1 {
  position: absolute;
  top: 457px;
  left: 654px;
  font-size: var(--h3-size);
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  color: var(--fadetext);
  display: flex;
  align-items: center;
  width: 165px;
  height: 43px;
}
.years1 {
  top: 523px;
}
.frame-child33,
.project-management,
.top-skills {
  position: absolute;
  top: 520px;
  left: 50px;
  width: 264px;
  height: 34px;
}
.project-management,
.top-skills {
  top: 582px;
  letter-spacing: -0.02em;
  line-height: 28px;
  display: flex;
  align-items: center;
}
.project-management {
  top: 666px;
  left: 351px;
  font-weight: 600;
}
.text-wrapper {
  position: absolute;
  top: 544px;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--h1-size);
}
.cg-and-animation,
.ux-design {
  width: 264px;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 34px;
}
.ux-design {
  position: absolute;
  top: 578px;
  left: 351px;
}
.cg-and-animation {
  position: relative;
  font-size: var(--heading-s-size);
  flex-shrink: 0;
}
.text-parent {
  position: absolute;
  top: 620px;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
  font-size: var(--h1-size);
}
.intern-ui-designer-container {
  position: absolute;
  top: 516px;
  left: 437px;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 313px;
  height: 56px;
}
.frame-parent26,
.logomark-icon {
  position: absolute;
  overflow: hidden;
}
.logomark-icon {
  height: 4.12%;
  width: 3.9%;
  top: 60.31%;
  right: 55.68%;
  bottom: 35.57%;
  left: 40.42%;
  max-width: 100%;
  max-height: 100%;
}
.frame-parent26 {
  top: 133px;
  left: 612px;
  background-color: var(--t2);
  width: 898px;
  height: 849px;
}
.profile23 {
  position: absolute;
  top: 2px;
  left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 48px;
}
.frame-label,
.frame-wrapper23 {
  position: absolute;
  overflow: hidden;
}
.frame-label {
  cursor: pointer;
  top: 30px;
  left: 20px;
  border-radius: var(--br-6xl);
  background-color: var(--t2);
  width: 204px;
  height: 50px;
}
.frame-wrapper23 {
  top: 0;
  left: 0;
  width: 244px;
  height: 106px;
}
.visit-our-help23 {
  position: absolute;
  top: 924px;
  left: 14px;
  font-size: var(--font-size-mid);
  line-height: 135.5%;
  text-transform: capitalize;
  color: var(--t2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 40px;
}
.settings-icon23 {
  position: absolute;
  top: 873px;
  left: 103px;
  width: 39px;
  height: 41px;
  overflow: hidden;
}
.frame-child34 {
  position: absolute;
  top: 477.5px;
  left: 16.5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 7px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 7px;
  height: 47px;
}
.profile24 {
  position: absolute;
  top: 2px;
  left: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 48px;
}
.profile-wrapper21 {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: var(--br-6xl);
  width: 204px;
  height: 50px;
  overflow: hidden;
}
.frame-parent27,
.frame-parent28 {
  position: absolute;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
}
.frame-parent28 {
  top: -1px;
  width: 246px;
  height: 983px;
  overflow-y: auto;
  font-size: var(--font-size-8xl);
  color: var(--color-chocolate);
}
.frame-parent27 {
  top: 0;
  width: 244px;
  height: 982px;
  overflow: hidden;
  text-align: center;
}
.macbook-pro-14-4 {
  width: 100%;
  position: relative;
  background-color: var(--bg);
  border: 1px solid var(--text);
  box-sizing: border-box;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--text);
  font-family: var(--text-s-regular);
}
