.card-parent {
  position: absolute;
  height: 79.02%;
  width: 82.14%;
  top: 17.72%;
  right: 1.52%;
  bottom: 3.26%;
  left: 16.34%;
  background-color: var(--t2);
  overflow-y: auto;
}
.browse-jobs,
.post-a-job {
  position: absolute;
  display: flex;
  align-items: center;
}
.browse-jobs {
  top: 80px;
  left: 324px;
  font-size: var(--font-size-17xl);
  line-height: 135.5%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--text);
  width: 478px;
  height: 65px;
}
.post-a-job {
  top: 2px;
  left: 40px;
  justify-content: center;
  width: 164px;
  height: 48px;
}
.post-a-job-wrapper {
  position: absolute;
  top: 89px;
  left: 1151px;
  border-radius: var(--br-6xl);
  background-color: var(--color-chocolate);
  width: 243px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.ellipse-div {
  position: absolute;
  top: 6px;
  left: 1168px;
  border-radius: 50%;
  background-color: var(--bg);
  width: 42px;
  height: 41px;
}
.bell-badge-outline-icon {
  position: absolute;
  top: 13px;
  left: 1176px;
  width: 26px;
  height: 25px;
  overflow: hidden;
}
.frame-child5,
.what-are-you {
  position: absolute;
  top: 6px;
  left: 1097.9px;
  width: 42px;
  height: 41px;
}
.what-are-you {
  top: 9px;
  left: 872px;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  width: 271px;
  height: 36px;
}
.vector-icon46 {
  position: absolute;
  height: 35.19%;
  width: 1.62%;
  top: 27.78%;
  right: 10.78%;
  bottom: 37.04%;
  left: 87.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chevron-left-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.back-to-dashboard {
  width: 156px;
  position: relative;
  text-decoration: underline;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  height: 21px;
  flex-shrink: 0;
}
.chevron-left-parent {
  position: absolute;
  top: 17px;
  left: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  cursor: pointer;
  font-size: var(--font-size-mini);
  color: var(--text);
}
.ellipse-parent {
  position: absolute;
  top: 0;
  left: 244px;
  background-color: var(--t2);
  width: 1266px;
  height: 54px;
  overflow: hidden;
  font-size: var(--font-size-mid);
  color: var(--color-dimgray-200);
}
.profile5 {
  position: absolute;
  top: 2px;
  left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 48px;
}
.profile-wrapper3 {
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: var(--br-6xl);
  background-color: var(--t2);
  width: 204px;
  height: 50px;
  overflow: hidden;
}
.frame-wrapper4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 244px;
  height: 106px;
  overflow: hidden;
  text-align: center;
  color: var(--text);
}
.general5 {
  width: 224px;
  position: relative;
  color: var(--fadetext);
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
}
.tab-child37,
.vector-icon47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 40px;
}
.vector-icon47 {
  top: 8px;
  left: 13.2px;
  width: 25.5px;
  height: 25px;
}
.dashboard5 {
  position: absolute;
  top: 8px;
  left: 68px;
  display: inline-block;
  width: 120px;
}
.tab35 {
  width: 224px;
  position: relative;
  height: 40px;
}
.calendar-icon5,
.vector-icon48 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 25px;
  height: 25px;
}
.calendar-icon5 {
  width: 30px;
  overflow: hidden;
}
.general-parent3 {
  position: absolute;
  top: 106px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
}
.company5,
.tab38 {
  width: 224px;
  position: relative;
}
.company5 {
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
}
.tab38 {
  height: 40px;
  color: var(--t2);
}
.company-parent3 {
  position: absolute;
  top: 694px;
  left: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  color: var(--fadetext);
}
.briefcase-icon5,
.tab-child41 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 224px;
  height: 40px;
}
.briefcase-icon5 {
  top: 8px;
  left: 16px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.tab-child42 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 122px);
  width: 190px;
  height: 40px;
}
.tab39 {
  width: 244px;
  position: relative;
  height: 40px;
}
.vector-icon49 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 30px;
  height: 20px;
}
.recruitment-parent3 {
  position: absolute;
  top: 400px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
}
.visit-our-help5 {
  position: absolute;
  top: 924px;
  left: 14px;
  font-size: var(--font-size-mid);
  line-height: 135.5%;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 40px;
}
.settings-icon5 {
  position: absolute;
  top: 873px;
  left: 103px;
  width: 39px;
  height: 41px;
  overflow: hidden;
}
.frame-child6 {
  position: absolute;
  top: 477.5px;
  left: 16.5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 7px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 7px;
  height: 47px;
}
.profile6 {
  position: absolute;
  top: 2px;
  left: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 48px;
}
.profile-wrapper4 {
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: var(--br-6xl);
  width: 204px;
  height: 50px;
  overflow: hidden;
}
.frame-wrapper5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 244px;
  height: 106px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-chocolate);
}
.tab42 {
  width: 224px;
  position: relative;
  height: 40px;
  cursor: pointer;
}
.frame-parent3,
.frame-parent4 {
  position: absolute;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
}
.frame-parent4 {
  top: -1px;
  width: 246px;
  height: 983px;
  overflow-y: auto;
}
.frame-parent3 {
  top: 0;
  width: 244px;
  height: 982px;
  overflow: hidden;
}
.macbook-pro-14-1 {
  width: 100%;
  position: relative;
  background-color: var(--t2);
  border: 1px solid var(--text);
  box-sizing: border-box;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--t2);
  font-family: var(--text-s-regular);
}
