.general22 {
  width: 224px;
  position: relative;
  color: var(--fadetext);
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
}
.tab-child183,
.vector-icon145 {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 40px;
}
.vector-icon145 {
  top: 8px;
  left: 13.2px;
  width: 25.5px;
  height: 25px;
}
.dashboard24 {
  position: absolute;
  top: 8px;
  left: 68px;
  display: inline-block;
  width: 120px;
}
.frame-child51,
.tab164 {
  position: absolute;
  height: 40px;
}
.tab164 {
  top: 0;
  left: 8px;
  width: 224px;
  cursor: pointer;
}
.frame-child51 {
  top: calc(50% - 20px);
  left: calc(50% - 105px);
  width: 190px;
}
.frame-child52 {
  position: absolute;
  top: -3.5px;
  left: 4.5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 7px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 7px;
  height: 47px;
}
.tab-parent {
  width: 226px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon146 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 25px;
  height: 25px;
}
.tab165 {
  width: 224px;
  position: relative;
  height: 40px;
}
.calendar-icon22 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 30px;
  height: 25px;
  overflow: hidden;
}
.general-parent20 {
  position: absolute;
  top: 106px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--t2);
  font-family: var(--text-s-regular);
}
