.group-child82 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--t2);
  width: 325px;
  height: 141px;
}
.group-child84 {
  position: absolute;
  top: 89px;
  left: -0.5px;
  box-shadow: 0 4px 4px rgba(86, 86, 86, 0.5);
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 326px;
  height: 1px;
}
.group-child85 {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 58px;
  height: 58px;
}
.applied-on-2nd22,
.ayesha-masroor2 {
  position: absolute;
  top: 19px;
  left: 94px;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  width: 160px;
  height: 30px;
}
.applied-on-2nd22 {
  top: 48px;
  font-size: var(--font-size-mini);
  width: 175px;
  height: 20px;
}
.star-outline88,
.star-outline89,
.star-outline90,
.star-outline91,
.vector-icon160 {
  position: absolute;
  top: 102px;
  left: 160px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.star-outline89,
.star-outline90,
.star-outline91,
.vector-icon160 {
  left: 62px;
}
.star-outline90,
.star-outline91,
.vector-icon160 {
  left: 93px;
}
.star-outline91,
.vector-icon160 {
  left: 127px;
}
.vector-icon160 {
  height: 3.55%;
  width: 6.15%;
  top: 20.57%;
  right: 5.85%;
  bottom: 75.89%;
  left: 88%;
  max-width: 100%;
  max-height: 100%;
}
.email-box22,
.vector-icon161,
.vector-icon162 {
  position: absolute;
  top: 98px;
  left: 232px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.vector-icon161,
.vector-icon162 {
  height: 14.18%;
  width: 7.69%;
  top: 75.89%;
  right: 7.38%;
  bottom: 9.93%;
  left: 84.92%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon162 {
  height: 13.33%;
  top: 76.6%;
  right: 20.92%;
  bottom: 10.07%;
  left: 71.38%;
}
.div12 {
  position: absolute;
  top: 111px;
  left: 24px;
  line-height: 135.5%;
  display: flex;
  align-items: center;
  width: 104px;
  height: 17px;
}
.rectangle-parent21 {
  position: absolute;
  top: 43px;
  left: 826px;
  width: 325px;
  height: 141px;
  text-align: left;
  font-size: var(--heading-s-size);
  color: var(--text);
  font-family: var(--text-s-regular);
}
