.ic-horizontal-rule-child {
  position: absolute;
  height: 6.25%;
  width: 75%;
  top: 46.88%;
  right: 12.5%;
  bottom: 46.88%;
  left: 12.5%;
  background-color: var(--oc-gray-9);
}
.ic-horizontal-rule {
  width: 32px;
  height: 32px;
  overflow: hidden;
}
